<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create a Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'list_categories' %}">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create a Category</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create an Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                    {% if user.is_anonymous %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            <!---->
            {%  endblock content %}
        </main>
    </body>
</html>







{% comment %} {% if user.is_authenicated %}
                    <li>
                        <a href="{% url "logout" %}">Logout</a>
                    </li>
                    {% endif %}
                    <!---->
                    {% if user.is_anonymous %}
                    <li>
                        <a href="{% url "signup" %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url "login" %}">Login</a>
                    </li>
                    {% endif %} {% endcomment %}