{% extends 'base.html' %}
<!---->
{% block content %}
<h1>Accounts</h1>
<p>
  <a href="{% url 'create_account' %}">Create Account</a>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of Receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for item in account_list.all %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.number }}</td>
      <td>{{ item.items.all }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
